<!DOCTYPE html>
<html lang="en">
<head>
	{% include "components/header_items.html" %}

	<title>Umeus</title>

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-carousel.css" rel="stylesheet">
	<link href="/static/css/main/index.css" rel="stylesheet">
</head>

<body>

	{% include "components/navbar.html" %}

	<div class="container">

		Legal

		{% include "components/footer.html" %}

	</div> <!-- /container -->


{% include "components/js_loads.html" %}

</body>
</html>
